#transition_sec2_1 {
    background-image: url(../../content/svg/dev/sec2/sec2_1.svg);
    background-color: #001122;
}

#transition_sec2_2 {
    background-image: url(../../content/svg/dev/sec2/sec2_2.svg);
    background-color: #0066FF;
}

#transition_sec3_1 {
    background-image: url(../../content/svg/dev/sec3/sec3_1.svg);
    background-color: #001122;
}

#transition_sec3_2 {
    background-image: url(../../content/svg/dev/sec3/sec3_2.svg);
    background-color: #C62368;
}

#transition_sec4_1 {
    background-image: url(../../content/svg/dev/sec4/sec4_1.svg);
    background-color: #001122;
}

#transition_sec4_2 {
    background-image: url(../../content/svg/dev/sec4/sec4_2.svg);
    background-color: #009473;
}