.projects {
    height: 100vh;
    width: 100vw;

    margin-top: 400px;

    display: flex;
    flex-direction: column;
}
.projects h1 {
    margin-top: 40px;
    text-align: center;
    z-index: 10;
}
.projects h2 {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 100px;
    z-index: 10;
}



.projects-holder {
    position: relative;
    height: 100%;
}
.projects-background {
    position: absolute;

    min-height: 400px;
}
.row {
    position: relative;
    width: 100%;
    min-height: 200px;
}
.line {
    position: absolute;
    background: var(--primary-text-color);
    height: 20px;
    box-shadow: var(--card-shadow);
}
.project-circle {
    position: absolute;
    background: var(--primary-text-color);
    height: 60px;
    width: 60px;
    border-radius: 100%;
    z-index: 1;
    box-shadow: var(--card-shadow);
}
.project-circle:after {
    position: absolute;
    content: "";

    height: 30px;
    width: 30px;

    top: 15px;
    left: 15px;

    border-radius: 100%;

    background: var(--white);

    opacity: 1;
    transition: 0.3s;
}
@keyframes fadeInProject {
    from {
        height: 44px;
        width: 44px;
        top: 0px;
        left: 0px;
        opacity: 1;
    } to {
        height: 88px;
        width: 88px;
        top: -22px;
        left: -22px;
        opacity: 0;
    }
}
.row:nth-child(1) .project-circle:nth-child(2)::before {
    position: absolute;
    content: "";

    height: 44px;
    width: 44px;
    top: 0px;
    left: 0px;

    border-radius: 100%;

    border: solid 8px var(--primary-text-color);

    opacity: 1;
    transition: 0.3s;

    animation: fadeInProject 1s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
}
.row:nth-child(1) .project-circle:nth-child(2):hover::before {
    opacity: 0 !important;
    transition: 0.3s;
}



.project {
    height: 180px;
    width: 260px;

    background: var(--primary-text-color);

    border-radius: 20px;

    margin-top: -65px;
    margin-left: -100px;

    opacity: 0;

    transition: 0.3s;

    cursor: pointer;
    box-shadow: none;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-decoration: none;
}
.project > h2 {
    margin-top: 20px;
    margin-bottom: 10px;

    max-width: 250px;
    color: var(--white);

    text-align: center;
}
.project > h3 {
    margin-top: 10px;

    max-width: 250px;
    color: var(--white);

    text-align: center;
}
.project-circle:hover .project {
    height: 200px;
    width: 280px;
    margin-top: -75px;
    margin-left: -110px;
    opacity: 1;
    transition: 0.3s;
    box-shadow: var(--card-shadow);
}
.project-circle:hover::after {
    opacity: 0;
    transition: 0.3s;
}

.row:nth-child(1) .line:nth-child(1) {
    width: 300px;

    top: 80px;
    left: -20px;

    transform: rotateZ(-15deg);
}
.row:nth-child(1) .project-circle:nth-child(2) {
    top: 20px;
    left: 250px;
}

.row:nth-child(1) .line:nth-child(3) {
    width: 400px;

    top: 80px;
    left: 300px;

    transform: rotateZ(10deg);
}
.row:nth-child(1) .project-circle:nth-child(4) {
    top: 90px;
    left: 680px;
}

.row:nth-child(1) .line:nth-child(5) {
    width: 300px;

    top: 95px;
    left: 700px;

    transform: rotateZ(-10deg);
}
.row:nth-child(1) .project-circle:nth-child(6) {
    top: 50px;
    left: 970px;
}

.row:nth-child(1) .line:nth-child(7) {
    width: 300px;

    top: 85px;
    left: 1000px;

    transform: rotateZ(5deg);
}






.row:nth-child(2) .line:nth-child(1) {
    width: 500px;

    top: 80px;
    left: -20px;

    transform: rotateZ(-5deg);
}
.row:nth-child(2) .project-circle:nth-child(2) {
    top: 30px;
    left: 450px;
}

.row:nth-child(2) .line:nth-child(3) {
    width: 400px;

    top: 100px;
    left: 450px;

    transform: rotateZ(15deg);
}
.row:nth-child(2) .project-circle:nth-child(4) {
    top: 120px;
    left: 800px;
}

.row:nth-child(2) .line:nth-child(5) {
    width: 500px;

    top: 105px;
    left: 830px;

    transform: rotateZ(-10deg);
}








@media screen and (max-aspect-ratio: 8/9) {
    .projects {
        margin-top: 1000px;
    }
    .projects h2 {
        margin-bottom: 0px;
    }

    .projects-holder {
        width: 50%;
        display: grid;
        place-items: end;
    }
    .projects-background {
        transform: rotate(90deg) translateX(-100px);
    }
    .row:nth-child(1) {
        transform: translateY(30px);
    }
    .row:nth-child(2) {
        transform: translateY(-30px);
    }

    .project {
        transform: rotate(-90deg);
    }
}
@media screen and (min-height: 720px) and (max-aspect-ratio: 8/9) {
    .projects-background {
        transform: rotate(90deg) translateX(-380px);
    }
}





@media screen and (min-width: 1280px) {
    .projects-holder {
        position: relative;
        transform: translateX(-640px);
        display: grid;
        place-items: center;
    }
    .big-line {
        position: absolute;
        height: 20px;
        width: 2000px;

        transform: rotate(5deg);

        top: 30px;
        left: -2000px;

        background: var(--primary-text-color);
        box-shadow: var(--card-shadow);
    }
    .big-line::after {
        position: absolute;
        content: "";
        background: var(--primary-text-color);
        height: 60px;
        width: 60px;
        top: -24px;
        right: -15px;
        border-radius: 100%;
        z-index: 1;
        box-shadow: var(--card-shadow);
    }

    .big-line:nth-child(4) {
        transform: rotate(-8deg);
        top: 440px;
    }

    .big-line:nth-child(5) {
        transform: rotate(-175deg);
        left: unset;
        right: -3300px;
        top: 350px;
    }

    .big-line:nth-child(6) {
        transform: rotate(-178deg);
        left: unset;
        right: -3300px;
        top: 130px;
    }
}

