@font-face {
    font-family: 'SF Pro';
    src: url(../fonts/SF_Pro/SFProDisplay-Regular.ttf);
}

@font-face {
    font-family: 'Dancing Script';
    src: url(../fonts/Dancing_Script/static/DancingScript-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'SF Pro';
    font-size: 1em;

    scroll-behavior: smooth;

    --background-color: #121212;
    --font-color: #F5F5F5;
    --primary-color: #BB86FC;
    --secondary-color: #25fec4;
    --tertiary-color: #FEF24F;
    --fourth-color: #cd2828;
    --fifth-color: #78cd28;

    text-decoration: none;
}

body {
    width: 100vw;
    min-height: 100vh;

    background-color: var(--background-color);
    color: var(--font-color);

    z-index: -10;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 1em;
}

hr {
    color: var(--primary-color);
    width: 100%;
}

a {
    color: var(--primary-color);
}