#connexion-panel > div {
    min-width: 200px;
    width: 85vw;
    height: 85vh;

    background: var(--gus-ui-color-background);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.connexion-top {
    width: 100%;
    height: 200px;

    display: grid;
    place-items: center;
}

.connexion-body {
    width: 100%;
    height: 100%;

    display: grid;
    place-items: center;
}

.connexion-body > div {
    min-width: 100px;
    width: 85%;
    max-width: 400px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 50px;
}

.connexion-body > div > gus-text-field::part(text-field-input){
    width: 100%;
}