
.panel-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.panel-top div {
    width: 100%;
    display: grid;

    place-items: center right;
}
.panel-top div gus-button::part(button) {
    width: 10px;
    justify-self: right;
}




.panel-sub {
    display: flex;
    flex-direction: row;
}

.panel-sub-left {
    height: 100%;
    width: 100%;
}
.panel-sub-right {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.button-holder {
    display: flex;
    flex-direction: row;

    margin-top: 20px;
}
.button-holder > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}


.button-mobile::part(button) {
    width: 35vw;
}











gus-timetable::part(timetable) {
    margin-top: 40px;
    margin-bottom: 50px;

    width: 80vw;
    max-width: 2000px;
}

gus-timetable::part(task) {
    font-size: 11px;
}


.lesson-cm {
    background: rgb(236, 78, 78);
}
.lesson-td {
    background: rgb(92, 92, 238);
}
.lesson-tp {
    background: rgb(193, 60, 255);
}



@media screen and (max-aspect-ratio: 9/10) {
    .panel-sub {
        flex-direction: column;
    }

    .panel-sub-right {
        align-items: center;
        margin-top: 20px;
    }

    .button-holder {
        display: flex;
        flex-direction: column;
        place-items: center;

        row-gap: 10px;
    }

    gus-combobox::part(combobox) {
        width: 85vw;
    }
}
