@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;

    --white: #FFFFFF;
    --primary-text-color: #1fb1ff;
    --text-color: #000000;
    --code-background: rgba(51, 184, 255, 0.35);

    --card-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    color: var(--text-color);
}
body {
    background: var(--white);
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-x: hidden;
}

h1 {
    font-weight: 600;
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: 0.9em;
}